/*root variables*/

:root{
    --primary-color: #010013;
    --secondary-color: #cab166;
    --text-color: #FAF9F6;
    --secondary-color-rgba: #cab16699;
    --primary-color-rgba: #01001399;
}
/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

/*navigation bar*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    transition: .4s;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    color: var(--secondary-color)
}

.logo:hover{
    transition: .3s;
    text-shadow: 0 0 15px var(--secondary-color);
}

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    position: relative;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover{
    color: var(--secondary-color);
}

.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transform: scaleX(0);
    transition: .3s ease-in-out;
}

.nav-links a:hover::after{
    width: 100%;
}

.btn-agendar{
    padding: 12px 24px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.btn-agendar:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px var(--secondary-color);
}

.menu-toggle{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-toggle span{
    width: 28px;
}

.navbar.scrolled{
    background-color: var(--secondary-color-rgba);
    box-shadow: 0 5px 15px var(--primary-color-rgba);
    backdrop-filter: blur(10px);
    padding: 15px 8%;
}