/*root variables*/

:root{
    --primary-color: #010013;
    --secondary-color: #cab166;
    --terciary-color: #d9d9d9;
    --text-color: #FAF9F6;
    --secondary-color-rgba: #cab16650;
    --primary-color-rgba: #01001399;
    --principal-font: 'Playfair Display', serif;
}

/*animações*/

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.container{
    width: min(1200px, 90%);
    margin: auto;
}

/*navigation bar*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    transition: .4s;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--principal-font);
    color: var(--secondary-color)
}

.logo:hover{
    transition: .3s;
    text-shadow: 0 0 15px var(--secondary-color);
}

.nav-links{
    display: flex;
    gap: 35px;
}

.nav-links a{
    position: relative;
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover{
    color: var(--secondary-color);
}

.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transform: scaleX(0);
    transition: .3s ease-in-out;
}

.nav-links a:hover::after{
    width: 100%;
}

.btn-agendar{
    padding: 12px 24px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    font-weight: 600;
    transition: .3s;
}

.btn-agendar:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px var(--secondary-color);
}

.menu-toggle{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-toggle span{
    width: 28px;
}

.navbar.scrolled{
    background-color: var(--secondary-color-rgba);
    box-shadow: 0 5px 15px var(--primary-color-rgba);
    backdrop-filter: blur(10px);
    padding: 15px 8%;
}

/*home*/

#home{
    min-height: 100vh;
    background: url("../img/") center center/ cover no-repeat;
    display: flex;
    align-items: center;
}

.hero-overlay{
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color-rgba);
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.hero-content{
    max-width: 650px;
}

.hero-content h1{
    font-family: var(--principal-font);
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-content span{
    color: var(--secondary-color);
}

.hero-content p{
    font-size: 1.1rem;
    color: var(--terciary-color);
    line-height: 1.8;
    margin-bottom: 40px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.btn-principal{
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px 35px;
    border-radius: 40px;
    font-weight: 600;
    transition: .3s;
}

.btn-principal:hover{
    transform: translateY(-4px);
}

.btn-secundario{
    border: 2px solid var(--secondary-color);
    color: var(--text-color);
    padding: 15px 35px;
    border-radius: 40px;
    transition: .3s;
}

.btn-secundario:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero-content{
    animation: aparecer 1.2s ease;
}

/*sobre*/

#sobre{
    padding: 120px 0;
    background: var(--primary-color);
    animation: aparecer .4s ease;
}

#sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.sobre-img{
    flex:1;
    overflow: hidden;
    border-radius: 20px;
}

.sobre-img img{
    border-radius: 20px;
    box-shadow: 0 20px 40px var(--primary-color-rgba);
    transition: all .5s ease-in-out;
}

.sobre-img img:hover{
    transform: scale(1.2);
}

.sobre-txt{
    flex: 1;
}

.subtitulo{
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
}

.sobre-txt h2{
    font-family: var(--principal-font);
    font-size: 3rem;
    margin: 20px 0;
}

.sobre-txt p{
    color: var(--terciary-color);
    line-height: 1.9;
    margin-bottom: 30px;
}

.diferenciais{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
}

.item{
    font-weight: 500;
}